@theme {
  --color-green: #388a6b;
  --color-green-50: #f0f9f5;
  --color-green-100: #dbf0e4;
  --color-green-200: #bae0cd;
  --color-green-300: #8cc9ae;
  --color-green-400: #5cab8a;
  --color-green-500: #388a6b;
  --color-green-600: #297258;
  --color-green-700: #215b48;
  --color-green-800: #1c493a;
  --color-green-900: #183c31;
  --color-green-950: #0c221c;

  --color-brand: #388a6b;
  --color-brand-50: #f0f9f5;
  --color-brand-100: #dbf0e4;
  --color-brand-200: #bae0cd;
  --color-brand-300: #8cc9ae;
  --color-brand-400: #5cab8a;
  --color-brand-500: #388a6b;
  --color-brand-600: #297258;
  --color-brand-700: #215b48;
  --color-brand-800: #1c493a;
  --color-brand-900: #183c31;
  --color-brand-950: #0c221c;

  --color-green: #463F3A;
  --color-coffee-50: #fcf9f4;
  --color-coffee-100: #e6e2de;
  --color-coffee-200: #bab6b3;
  --color-coffee-300: #D7BDA2;
  --color-coffee-400: #9c9a98;
  --color-coffee-500: #B68554;
  --color-coffee-600: #73675F;
  --color-coffee-700: #5C534C;
  --color-coffee-800: #463F3A;
  --color-coffee-900: #272321;
  --color-coffee-950: #181614;
}

@theme inline {
  --color-default: var(--color-gray-800)
}